/* Navbar.css */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .col-2, .col-6, .col-space {
    box-sizing: border-box;
    text-align: center; 
  }

  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .col-space {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .nav_btn{
    padding: 10px;
    margin: 5px;
    background-image: linear-gradient(#B384C9, #391F5B 50%);
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  /* Media query for tablets and desktops */
  @media (min-width: 768px) {
    .col-2 {
      flex: 0 0 16.6667%;
      max-width: 16.6667%;
    }
    .col-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-space {
      flex: 1;
      max-width: 16.6667%;
    }
    .nav_btn:hover {
      transform: scale(1.15);
      background-color: #2f0f4f;
    }
  }
  @media (max-width : 768px){
    .col-2 img {
        max-width: 60%;
      }
  }